body {
  background-image: url("/assets/img/united-squares-negative.png")
}
.container {
  background-color: green;
  padding-top: 20px;
  min-height: 100%;
  overflow: auto;
}

#burgerHead {
  text-align: center;
}

.form-group {
  text-align: center;
  padding: 0px 200px 10px 200px;
}

.btn-secondary {
  margin-top: 10px;
  margin-bottom: 100px;
}

#toBeDevoured {
  padding-left: 200px;
  margin: 0px;
}

#devoured {
  padding-left: 150px;
}